body {
    background-image: url(./Kepek/háttér.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New';
    color: white;
}

.focim {
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

.keret {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px;
    /* background-image: url(./Kepek/chad2.jpg); */
    /* background-size: contain; */
}

.aktualis {
    text-decoration: underline;
    color: white;
}

.egyesitett {
    vertical-align: middle;
}

.chad {
    background-image: url(./Kepek/chad.jpg);
    background-size: contain;
}

header {
    margin-top: 100px;
    margin-bottom: 50px;
}

main {
    background-color: rgb(0, 0, 0, 0);
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

hr {
    border: 5px solid white;
    z-index: 100;
}

table {
    color: white;
    border-collapse: collapse;
}

tr, th, td {
    color: white;
    /* border: 2px solid white; */
}