body {
    background-image: url(./Kepek/háttér.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New';
}

.focim {
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

.keret {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px;
    /* background-image: url(./Kepek/chad2.jpg); */
    /* background-size: contain; */
}

.aktualis {
    text-decoration: underline;
    color: white;
}

.egyesitett {
    vertical-align: middle;
}

.chad {
    /* background-image: url(./Kepek/chad.jpg); */
    background-size: contain;
    color: rgb(199, 199, 199);
}

.csatakeret {
    border-top: 5px solid rgba(255, 255, 255, 0.651);
}

p {
    color: rgb(199, 199, 199);
}

h3 {
    text-align: center;
    color: white;
}

header {
    margin-top: 100px;
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

ul {
    color: rgb(199, 199, 199);
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

hr {
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

table {
    color: white;
    border-collapse: collapse;
}

tr, th, td {
    color: white;
    /* border: 2px solid white; */
}

nav {
    box-shadow: 0px 0px 10px 3px black;
}